body {
  font-family: cursive;
  background: #b3e0dc;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #371300;
  padding-inline: 40px;
  height: 80px;
}

nav h1 {
  font-size: 35px;
  color: #28a99e;
  margin-top: 20px;
}

ul {
  display: flex;
  gap: 10px;
}

.navLinks {
  font-weight: 600;
  font-size: 17px;
  color: #03fdfc !important;
  border-right: 3px solid hsl(202, 11%, 29%);
  height: 25px;
  list-style: none;
  padding-right: 10px;
  list-style-type: none;
}

.navLinks:last-of-type {
  border-right: none;
}

.active-link {
  color: orangered;
  text-decoration: underline;
}

.calc-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  padding-inline: 100px;
  gap: 10%;
}

.calc-frame h1 {
  font-size: 30px;
  margin-top: -150px;
  color: hsl(202, 11%, 29%);
}

.main-calc {
  box-shadow: 1px 2px 10px 4px gray;
}

.dislay-input {
  width: 99%;
  height: 50px;
  outline: none;
  border: none;
  background: hsl(202, 11%, 29%);
}

::placeholder {
  color: #fff;
  font-size: 25px;
  float: right;
  margin-top: 10px;
}

.btn-row {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.zero {
  width: 200px;
  height: 50px;
  border: 1px solid #bdbaba;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.orange-color {
  background: #ff4500;
}

.calc-btn,
.orange-color {
  width: 100px;
  height: 50px;
  border: 1px solid #bdbaba;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.home-text,
.quotes {
  font-size: 20px;
  padding-inline: 40px;
  color: hsl(202, 11%, 29%);
}

.quotes {
  margin-top: 200px;
  padding-inline: 300px;
}
